<div [ngClass]="{'dark-theme': isDarkTheme}" class="app-container">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-logo">
      <mat-icon>science</mat-icon>
      <span>Alchemist</span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
      <mat-icon>{{ themeService.getCurrentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active-link">
          <mat-icon>home</mat-icon>
          <span class="nav-link-text">Home</span>
        </a>
        <a mat-list-item routerLink="/chat" routerLinkActive="active-link">
          <mat-icon>chat</mat-icon>
          <span class="nav-link-text">Chat</span>
        </a>
        <a mat-list-item routerLink="/documents" routerLinkActive="active-link">
          <mat-icon>description</mat-icon>
          <span class="nav-link-text">Documents</span>
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active-link">
          <mat-icon>settings</mat-icon>
          <span class="nav-link-text">Settings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
